<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Caravan Storage +</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/assets/css/cssreset.css" />
    <link rel="stylesheet" href="../static/assets/css/style.css" />
  </head>
  <body>
    <div class="nav-container">
      <nav class="max-width">
        <div class="logo-container"><img class="logo" src="../static/assets/images/logo.svg" /></div>
        <div id="hamburger-menu"></div>
        <ul>
          <div>
            <li class="home-li"><a class="navLink linkStart" href="#">Home</a></li>
          </div>
          <div>
            <li class="services-li"><a class="navLink linkMid" href="#services">Services</a></li>
          </div>
          <div>
            <li class="location-li"><a class="navLink linkEnd" href="#location">Location</a></li>
          </div>
          <div>
            <li class="contact-li"><a class="navLink linkEnd" href="#form-container">Contact</a></li>
          </div>
          <hr class="link-hr hr-start" />
        </ul>
      </nav>
    </div>
    <div class="pseudo-nav">a</div>
    <div class="hero-image">
      <div>
      <div class="hero-inner max-width">
        <h1>Indoor Storage for Various Types of Vehicles</h1>
        <button class="contact-btn">Contact Us</button>
        <p><a href="#services">Our Services</a></p>
      </div>
    </div>
    </div>
    <div class="mobile-menu" class="hidden transform">
      <ul>
          <li class="mobile-link"><a href="#top">HOME</a></li>
          <li class="mobile-link"><a href="#services">SERVICES</a></li >
          <li class="mobile-link"><a href="#location">LOCATION</a></li >
          <li class="mobile-link"><a href="#form-container">CONTACT</a></li >
          <hr>
          <li class="contacts"><a href="javascript:void">02132312332</a></li>
          <li class="contacts"><a href="javascript:void">email@email.com</a></li>
      </ul>
  </div>
     <div class="light-sides">
      <div class="max-width"></div>
      <section class="max-width">
        <div class="company-name">
          <h3>AB Caravan Storage LTD</h3>
          <p class="company-intro">
            Fusce sed metus finibus, commodo nibh sit amet, vulputate ipsum. Ut congue vehicula fringilla. Mauris laoreet erat quis euismod fermentum.
          </p>
        </div>
        <div class="fill"></div>

        <h2 id="services">Our Services</h2>
      </section>
    </div>
      <div class="dark-sides">
        <div class="grid-container max-width">
        <section class="col-1">
          <h4>Internal Storage</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id porta lectus. Donec aliquet mi odio, ut sollicitudin lorem vulputate vitae. Donec eu odio euismod, mattis turpis vitae, ultricies dui. Nam a enim elementum, posuere dolor et, iaculis nunc. Nulla cursus, nisi non interdum placerat, magna purus aliquam augue, ultrices varius erat tortor eget sem. Donec facilisis massa justo, et condimentum tortor malesuada eget. Aliquam ligula nulla, maximus eu arcu in, placerat elementum enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam at libero vitae lorem lacinia porttitor. Aenean ornare, purus sollicitudin gravida commodo, velit arcu tincidunt ante, a finibus purus neque sed orci. Ut consequat tincidunt erat. Etiam odio justo, congue nec cursus ullamcorper, iaculis congue sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut ultricies nunc.
            
            </p>
          <h4>Convenient Access</h4>
          <p>Aenean pharetra nisi eget lobortis faucibus. Pellentesque vulputate fringilla mauris, non pharetra nunc tempus nec. Praesent tempus, turpis eu fringilla posuere, augue tellus convallis justo, ut tempor nulla nibh vel quam. Aliquam accumsan dictum enim at porta. Sed sit amet dui molestie, facilisis odio vitae, dapibus felis. Morbi vitae cursus lacus, at sollicitudin odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In hac habitasse platea dictumst.</p>
        </div>
        </section>
      </div>
      <div class="light-sides">
        <div class="grid-container max-width">
        <section class="col-2">
          <h4>Alarm</h4>
          <p>Proin vitae molestie mi. Fusce eget arcu cursus, pretium metus at, laoreet tellus. In hac habitasse platea dictumst. Cras efficitur lacinia augue, et scelerisque tellus eleifend eget. Quisque lobortis elementum mi, at fringilla orci faucibus non. Curabitur sit amet est gravida, porttitor dolor non, sodales magna. Phasellus aliquam bibendum dolor porta consequat. Cras eget sapien pellentesque, ornare dolor a, pellentesque lorem. Morbi accumsan ac leo nec aliquam. Nullam at elit commodo, volutpat ipsum ac, ornare felis. Fusce scelerisque ipsum eros, nec dictum sem fermentum eget. Duis laoreet nulla vitae feugiat ultrices.</p>
          <h4>Monitored cctv</h4>
          <p>Aliquam ullamcorper vestibulum lectus, at elementum elit interdum quis. Maecenas maximus leo et nunc malesuada, nec egestas libero feugiat. Suspendisse est arcu, malesuada et libero vel, porttitor ultrices tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam viverra tincidunt accumsan. Vivamus molestie posuere metus eu elementum. Nulla facilisi. Nam et pulvinar arcu, sed varius libero. Maecenas dignissim egestas placerat. Pellentesque tempus diam nibh, eu posuere ligula efficitur vitae. Nullam sagittis scelerisque purus nec eleifend. Proin sapien lectus, tincidunt id neque at, iaculis maximus odio. Vestibulum ut nibh rutrum dolor tincidunt pellentesque. Nam sit amet ornare neque.</p>
        </section>
      </div>
      <div class="dark-sides">
        <div class="grid-container max-width">
        <section class="col-1">
          <h4>Hosedowns</h4>
          <p>Vivamus vestibulum sollicitudin quam, sit amet finibus ex sollicitudin fermentum. Nullam iaculis est est, vitae blandit justo condimentum vel. Aliquam erat volutpat. Proin pulvinar, nisi ultricies consectetur tincidunt, tellus metus feugiat nunc, et sodales enim diam et massa. Duis commodo, quam quis bibendum rutrum, enim turpis tincidunt mi, vel pulvinar quam nisl ac orci. Etiam eget lorem luctus tortor aliquam interdum eu nec felis. Proin sed sapien massa. In eu nibh in leo venenatis elementum sed et purus.</p>
          <h4>Battery Charging</h4>
          <p>Etiam vitae euismod ipsum. Nam eget neque eget nibh feugiat dignissim ut consequat risus. Fusce in dapibus ipsum. Donec molestie quam enim, eget congue magna finibus vitae. Suspendisse eget mi porta, viverra risus nec, efficitur metus. Suspendisse eget arcu vitae sem interdum porttitor in nec lorem. Aliquam at feugiat neque. Sed faucibus varius enim quis tincidunt. Sed hendrerit arcu et diam hendrerit auctor. Quisque aliquet lectus lorem, eu pretium neque fermentum sit amet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec non lacus lorem. Etiam bibendum odio nec ex placerat, in sollicitudin nunc luctus. Ut ornare orci et quam pretium lobortis. Vestibulum nisl justo, iaculis id risus vitae, tincidunt imperdiet lectus. Donec euismod ut ex ac dignissim.</p>
        </div>
        </section>
      </div>

      <div class="light-sides">
        <div class="max-width">
          <div class="address"  id="location">
            <h2 class="map-header">Where to Find us</h2>
            <div class="address-grid">
              <p>Torkington Lodge Farm,</p> 
              <p>Northamptonshire,</p>
              <p>NN67AS</p>
            </div>
          </div>
          <div>
        <div class="map-container max-width">
          <div id="map"></div> 
          <script src="../static/assets/scripts/map.js"></script>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGlR6yJBeVSDQOyI5XiZ8t1EJZI0iWDSk&callback=initMap " async defer></script>
        </div>
      </div>
    </div>
    <div class="dark-sides">
      <div class="max-width">
        <div id="form-container" class="form-grid-container">
          <form class="col-1">
            <label for="email" aria-label="required">Email*</label>
            <input type="email" id="email" name="email" required />
            <label for="phone" aria-label="required">Phone Number*</label>
            <input type="tel" id="phone" name="phone" required />
            <label for="size">Size of Vehicle </label>
            <input type="" id="size" name="size" />
            <label for="type-of-vehicle" aria-label="required">Type of Vehicle*</label>
            <input type="text" id="type-of-vehicle" name="type-of-vehicle" required />
            <label for="make-and-model" aria-label="required">Make and Model*</label>
            <input type="text" id="make-and-model" name="make-and-model:" required />
            <input type="submit" id="submit" />
          </form>
          <div class="col-2 form-message-container">
            <h3>Shoot Us Your Info!</h3>
            <img class="plane-icon" src="../static/assets/icons/send2.svg"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis turpis id magna maximus congue a ac ligula. Pellentesque dictum risus eget condimentum vulputate. Maecenas nibh lorem, tempus non blandit et, maximus bibendum nibh. Ut nec ligula justo.</p>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <section class="max-width grid-container">
        <div class="col-1">
          <h5>Contact Details</h5>
          <ul>
            <li>02132312332</li>
            <li>email@email.com</li>
          </ul>
        </div>
        <div class="col-2">
          <h5>Site Map</h5>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#location">Location</a></li>
          </ul>
        </div>
      </section>
    </footer>
    <script src="../static/assets/scripts/bodymovin-library.js"></script>
    <script src="../static/assets/scripts/sidebar.js"></script>
    <script src="../static/assets/scripts/index.js" async defer></script>
    <script src="../static/assets/scripts/observer.js"></script>
  </body>
</html>
