html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Start of JS specific Classes */

.move-right {
  transform: translateX(100%);
}

.move-left {
  transform: translateX(-100%);
}

.nav-fade {
  opacity: 0.6;
}

/* End of JS specific Classes */

/* Start of CSS Variables */
:root {
  --nav-bg: hsl(118, 49%, 46%);
  --nav-bg-fade: hsla(118, 49%, 46% 0.6);
  --link-color: hsl(0, 0%, 0%);
  --side-color-light: hsl(0, 0%, 100%);
  --side-color-dark: hsl(0, 0%, 20%);
  --contact-btn-color: hsla(0, 0%, 0%, 0.74);
  --contact-btn-shadow: 0px;
  --highlight-color: hsl(7, 100%, 63%);
  --footer-bg: hsla(0, 0%, 100%, 0.8);
}

.light-sides {
  background-color: var(--side-color-light);
  color: black;
}

.dark-sides {
  background-color: var(--side-color-dark);
  color: white;
}
/* End of CSS Variables */

/* Start of Fontfaces */
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Light.ttf') format('ttf'), url('../fonts/Ubuntu-LightItalic.ttf') format('ttf'), url('../fonts/Ubuntu-Medium.ttf') format('ttf'),
    url('../fonts/Ubuntu-MediumItalic.ttf') format('ttf'), url('../fonts/Ubuntu-Regular.ttf') format('ttf'), url('../fonts/Ubuntu-Italic.ttf') format('ttf'),
    url('../fonts/Ubuntu-Bold.ttf') format('ttf'), url('../fonts/Ubuntu-BoldItalic.ttf') format('ttf');
}
/* End of Fontfaces */

/* start of General CSS */
body {
  background-color: var(--side-color-light);
  color: #363636;
  font-size: 16px;
  width: 100%;
  font-family: 'Ubuntu';
}

.max-width {
  max-width: 1200px;
  margin: 0 auto;
}
/* End of General CSS */

/* Start of Navbar */
.nav-container {
  top: 0;
  height: 90px;
  width: 100%;
  position: fixed;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  background-color: var(--nav-bg);
  z-index: 2;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  position: relative;
}

.logo {
  padding-top: 10 px;
  position: absolute;
  height: 105px;
  align-self: center;
  margin-top: 0px;
}

ul {
  display: flex;
}

ul div {
  align-self: center;
  width: 90px;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

nav ul a {
  align-self: center;
  color: var(--link-color);
  font-size: 18px;
  user-select: none;
  transition: 0.2s all ease-in-out;
  text-decoration: none;
}

ul li {
  padding: 4px 0px;
}

hr {
  width: 45px;
  height: 1px;
  position: absolute;
  align-self: center;
  margin-top: 50px;
  margin-left: 32.5px;
  transition: all 0.4s linear;
  border-color: #785e5c;
}

nav ul li:hover {
  cursor: pointer;
  --link-color: hsl(7, 48%, 90%);
}

.pseudo-nav {
  height: 140px;
  position: relative;
  opacity: 0;
}
/* End of Navbar */

/* Start of Hero Image Area */
.hero-image {
  height: calc(80vh);
  max-width: 1650px;
  margin: 0 auto;
  background-image: url(../images/country-ga8c6b5675_1920.jpg);
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-top: 1px solid black;
}

h1 {
  color: white;
  display: block;
  padding: 20px 0px;
  text-indent: 10px;
  font-size: 28px;
}

.hero-inner {
  padding: 35vh 10px 0 10px;
}

.contact-btn {
  padding: 12px 0px;
  border: 1px solid black;
  border-radius: 4px;
  transition: 0.5s all ease-in-out;
  box-shadow: var(--contact-btn-shadow) 0 0 0 var(--contact-btn-color);
  width: 140px;
  display: inline-block;
  background-color: hsl(0, 0%, 80%);
  font-size: 18px;
}

.contact-btn:hover {
  cursor: pointer;
  transform: translateX(6%);
  --contact-btn-shadow: -2px;
  background-color: rgba(255, 255, 255, 0.986);
}

.hero-inner p {
  display: inline-block;
  margin: 0px 33px;
}

.hero-inner p a {
  text-decoration: none;
  color: hsl(0, 0%, 75%);
  font-size: 18px;
  font-weight: 500;
  transition: 0.2s all linear;
}

.hero-inner p a:hover {
  cursor: pointer;
  color: var(--highlight-color);
}
/* End of Hero Image Area */

/* Start of Section Content */

.company-name {
  position: absolute;
  margin-top: -53px;
  background-color: white;
  width: 400px;
  height: 200px;
  padding: 0px 12px 0px 12px;
}

.company-intro {
  padding-top: 20px;
}

.fill {
  height: 200px;
}

#services {
  scroll-margin-top: 120px;
}

#location {
  scroll-margin-top: 220px;
}

h3 {
  margin-top: 16px;
  font-size: 20px;
  color: var(--highlight-color);
}

h2 {
  font-size: 24px;
  width: fit-content;
  transition: 0.2s all ease-in-out;
  font-weight: 700;
}

section {
  display: block;
  position: relative;
  padding: 20px 20px 8px 20px;
}

section p {
  margin-bottom: 20px;
  line-height: 20px;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-left {
  grid-column: 1;
}

.grid-right {
  grid-column: 2;
}
/* End of Section Contect */

/* Start of Map Section */

.address {
  max-width: 600px;
  margin: 18px 0px 8px 0px;
  padding: 2px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.map-header {
  font-size: 20px;
  padding: 0px 20px;
}

.address-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  font-size: 12px;
}

.map-container {
  display: flex;
  justify-content: flex-start;
  height: 400px;
  margin-bottom: 20px;
}

#map {
  height: 100%;
  width: 600px;
}

/* End of Map Section */

/* Start of Form Section */

#form-container {
  height: fit-content;
  padding: 20px 0px;
}

.form-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

form {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  padding: 10px 3px;
  align-self: flex-start;
  font-size: 16px;
}

input {
  align-self: flex-start;
  width: 500px;
  height: 20px;
  padding: 18px 0px;
  border: 2px solid rgb(168, 158, 158);
  border-radius: 6px;
}

#submit {
  margin-top: 20px;
  width: 80px;
  height: 30px;
  padding: 0px;
  border: 1px solid black;
  border-radius: 4px;
  align-self: flex-start;
  transition: 0.3s all linear;
  color: hsl(0, 0%, 60%);
  font-size: 18px;
  font-weight: 700;
}

#submit:hover {
  cursor: pointer;
  color: var(--highlight-color);
}

.form-message-container {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.form-message-container h3 {
  display: block;
  font-size: 26px;
  color: white;
  padding: 0px 0px 10px 0px;
}

.form-message-container p {
  padding: 10px 100px;
  font-size: 16px;
}

.plane-icon {
  height: 80px;
  padding: 10px 0px 16px 0px;
}

/* End of Form Section */

/* Start of Footer Section */
footer {
  width: 100%;
  height: 160px;
  background-color: var(--footer-bg);
  position: relative;
  padding: 0px;
}

footer .grid-container {
  grid-template-columns: 1fr 1fr 1fr;
}

h5 {
  font-size: 16px;
  margin-bottom: 20px;
}

footer ul {
  display: block;
}

footer li {
  font-size: 12px;
  padding: 2px 0px;
}

a {
  text-decoration: none;
  color: black;
}
footer a:hover {
  color: var(--highlight-color);
}
/* End of Footer Section */

/* Start of Media Queries */
@media screen and (max-width: 900px) {
  form {
    padding: 0px 10px;
  }

  .form-message-container p {
    padding: 10px 20px;
  }

  .form-message-container h3 {
    font-size: 22px;
  }

  .plane-icon {
    height: 70px;
  }

  input {
    width: 380px;
  }
}

@media screen and (max-width: 610px) {
  h1 {
    text-indent: 0px;
  }

  .grid-left {
    grid-column: span 2;
  }

  .grid-right {
    grid-column: span 2;
  }

  .address {
    padding: 2px 4px;
  }

  .form-grid-container {
    display: unset;
  }

  .form-message-container {
    height: 240px;
  }

  .form-message-container h3 {
    padding: 20px 0px 0px 0px;
  }
}

@media screen and (max-width: 400px) {
  .company-name {
    width: 300px;
  }

  .hero-inner p {
    margin: 0px 23px;
  }

  footer .grid-left {
    margin: 5px 0px;
  }

  footer .grid-right {
    margin: 5px 0px;
  }

  input {
    width: 95%;
  }
}
/* End of Media Queries */
